<% include partials/header%>
<div class="align-items-center" id="landingHeader">
<!--<div class='jumbotron'>-->
    <div class="container">
        <h1>Welcome to YelpCamp</h1>
        <a class="btn btn-primary btn-lg" href="/campgrounds">View Campgrounds</a>
    </div>
<!--</div>-->
</div>

<% include partials/footer%>